<div class="text-center mb-2">
    <img src="https://www.marche.be/jf.jpg" alt="moi" class="img-thumbnail rounded"
         style="height: 400px;"/>
</div>
<h4 class="text-success">Contact</h4>
<i class="fas fa-map-marked-alt"></i>
Rue des Jolis Bois 24 <br/>
6900 Aye<br/>
<i class="far fa-envelope"></i> jfsenechal@gmail.com<br/>
<i class="fas fa-mobile-alt"></i> 0476 66 26 15<br/>
<i class="fas fa-birthday-cake"></i> 01/10/1979<br/>
<i class="fas fa-car-side"></i> Permis B<br/>
<h4 class="text-success">Compétences</h4>
<p class="font-weight-bolder">Languages de programmation</p>
<hr/>
<ul class="list-group">
    <li class="list-group-item">
        <div class="width-25 float-left">Php
        </div> {% include '@AcMarcheBottin/cv/_stars.html.twig' with {'nbstar':5} %}</li>
    <li class="list-group-item">
        <div class="width-25 float-left">Javascript</div>
        {% include '@AcMarcheBottin/cv/_stars.html.twig' with {'nbstar':4} %}
    </li>
    <li class="list-group-item">
        <div class="width-25 float-left">Java</div>
        {% include '@AcMarcheBottin/cv/_stars.html.twig' with {'nbstar':4} %}
    </li>
    <li class="list-group-item">
        <div class="width-25 float-left">Kotlin</div>
        {% include '@AcMarcheBottin/cv/_stars.html.twig' with {'nbstar':3} %}
    </li>
    <li class="list-group-item">
        <div class="width-25 float-left">Bash</div>
        {% include '@AcMarcheBottin/cv/_stars.html.twig' with {'nbstar':4} %}
    </li>
</ul>
<p class="font-weight-bolder">Framework et cms</p>
<ul class="list-group">
    <li class="list-group-item">Symfony</li>
    <li class="list-group-item">Vuejs</li>
    <li class="list-group-item">ReactJs</li>
    <li class="list-group-item">Wordpress</li>
    <li class="list-group-item">Joomla</li>
    <li class="list-group-item">Drupal</li>
    <li class="list-group-item">Ezpublish</li>
    <li class="list-group-item">Twitter Bootstrap</li>
    <li class="list-group-item">Mysql</li>
    <li class="list-group-item">Webpack</li>
</ul>
<p class="font-weight-bolder">Outils de programmation</p>
<ul class="list-group">
    <li class="list-group-item">Git</li>
    <li class="list-group-item">Phpstorm</li>
    <li class="list-group-item">Elasticsearch</li>
    <li class="list-group-item">Tests</li>
</ul>
<p class="font-weight-bolder">Logiciels serveur</p>
<ul class="list-group">
    <li class="list-group-item">Nginx</li>
    <li class="list-group-item">Apache</li>
    <li class="list-group-item">Doveco</li>
    <li class="list-group-item">Cyrus</li>
    <li class="list-group-item">Postfix</li>
</ul>
<p class="font-weight-bolder">Langues</p>
<ul class="list-group">
    <li class="list-group-item">
        <div class="width-25 float-left">Français</div>
        {% include '@AcMarcheBottin/cv/_stars.html.twig' with {'nbstar':5} %}
    </li>
    <li class="list-group-item">
        <div class="width-25 float-left">Anglais</div>
        {% include '@AcMarcheBottin/cv/_stars.html.twig' with {'nbstar':3} %}
    </li>
</ul>
