<h3 class="text-success">Expériences</h3>
<hr/>
<p class="text-uppercase font-weight-bolder">
    De juin 2000 à maintenant pour la commune de Marche-en-Famenne
</p>
<h5 class="text-primary">
    Développeur d'applications web métiers pour les employés .
</h5>
<hr/>
<ul class="list-group">
    <li class="list-group-item">Ressource-humaines: Gestion de l'évolution des employés</li>
    <li class="list-group-item">Services travaux: Gestion des interventions</li>
    <li class="list-group-item">Enfance-jeunesse: Gestion des inscriptions aux accueils et petites plaines</li>
    <li class="list-group-item">Sport: Gestion des activités sportives</li>
    <li class="list-group-item">Intranet communal</li>
    <li class="list-group-item">...</li>
</ul>
<h5 class="text-primary">
    Développeur d'applications mobile.
</h5>
<hr/>
<ul class="list-group">
    <li class="list-group-item">Travaux: Gestion des avaloirs</li>
    <li class="list-group-item">Travaux: Gestion des stocks</li>
</ul>
<h5 class="text-primary">Administrateur de serveurs sous linux</h5>
<ul class="list-group">
    <li class="list-group-item">Installation et maintenance de serveurs web (debian, nginx)</li>
    <li class="list-group-item">Installation et maintenance de serveurs mails (debian, dovecot)</li>
</ul>
<h5 class="text-primary">Gestionnaire base de données</h5>
<ul class="list-group">
    <li class="list-group-item">Mysql</li>
</ul>
<h5 class="text-primary">Administration / accueil</h5>
<ul class="list-group">
    <li class="list-group-item">Travail de secrétariat</li>
    <li class="list-group-item">Accueil à l'Espace publique numérique</li>
</ul>
<h3 class="text-success">Formations</h3>
<hr/>
<ul class="list-group">
    <li class="list-group-item">
        <div class="width-25 float-left">2020</div>
        Ouvrir ma ville, le programme d'accompagnement pour votre administration
    </li>
    <li class="list-group-item">
        <div class="width-25 float-left">2020</div>
        The Delightful World of Vue.js
    </li>
    <li class="list-group-item">
        <div class="width-25 float-left">2019</div>
        PHPUnit: Testing with a Bite
    </li>
    <li class="list-group-item">
        <div class="width-25 float-left">2019</div>
        API Platform: Serious RESTful APIs
    </li>
    <li class="list-group-item">
        <div class="width-25 float-left">2019</div>
        Messenger! Queue work for Later
    </li>
    <li class="list-group-item">
        <div class="width-25 float-left">2019</div>
        Android & Kotlin formation complète
    </li>
    <li class="list-group-item">
        <div class="width-25 float-left">2019</div>
        BDD, Behat, Mink and other Wonderful
    </li>
    <li class="list-group-item">
        <div class="width-25 float-left">2019</div>
        Symfony Mailer: Love Sending Emails
    </li>
    <li class="list-group-item">
        <div class="width-25 float-left">2019</div>
        Séduire Google avec son référencement
    </li>
    <li class="list-group-item">
        <div class="width-25 float-left">2018</div>
        Android Sensors | Cas pratiques
    </li>
    <li class="list-group-item">
        <div class="width-25 float-left">2018</div>
        Android & Kotlin | Développez des Apps Next Gen
    </li>
    <li class="list-group-item">
        <div class="width-25 float-left">2017</div>
        Atelier Téléservice 2.0
    </li>
    <li class="list-group-item">
        <div class="width-25 float-left">2009</div>
        Qualicité - Administrateur
    </li>
    <li class="list-group-item">
        <div class="width-25 float-left">2009</div>
        Introduction à la programmation Java
    </li>
    <li class="list-group-item">
        <div class="width-25 float-left">2004</div>
        Questions juridiques liées à internet - spécial services publics
    </li>
    <li class="list-group-item">
        <div class="width-25 float-left">2005</div>
        Formation Xml
    </li>
    <li class="list-group-item">
        <div class="width-25 float-left">2004</div>
        Communes sur internet : mettez le site de votre commune au coeur de votre communication
    </li>
</ul>
<h3 class="text-success">Diplômes</h3>
<hr/>
<ul class="list-group">
    <li class="list-group-item">
        <div class="width-25 float-left">2006-2007</div>
        Baccalauréat Informatique - Programmation
    </li>
    <li class="list-group-item">
        <div class="width-25 float-left">1997-1998</div>
        Certificat d'enseignement secondaire supérieur
    </li>
</ul>
