{{ include('@AcMarcheBottin/front/fiche/_activite.html.twig') }}
<h6>Contact</h6>
{{ include('@AcMarcheBottin/admin/fiche/identite/_contact.html.twig') }}
{{ include('@AcMarcheBottin/admin/fiche/identite/_sociaux.html.twig') }}
{{ include('@AcMarcheBottin/admin/pdf/fiche/_classement.html.twig') }}
