{% extends '@AcMarcheBottin/front/layout.html.twig' %}

{% block body -%}

    <div class="card">
        <div class="card-header">
            <h3>Accéder à ma fiche</h3>
        </div>
        <div class="card-body">

            <div class="alert alert-info">
                Encodez le mot de passe reçu par courrier postal
            </div>

            {{ form_start(form) }}
            {{ form_errors(form) }}
            {{ form_widget(form) }}
            <button class="btn btn-primary" type="submit"><i class="fas fa-check"></i> Valider</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
