<div id='openmap' style='width: 90%; height: 600px;' class="border border-primary"></div>
{% if fiche.societe is defined %}
    {% set nom = fiche.societe %}
{% else %}
    {% set nom = '' %}
{% endif %}
<div {{ stimulus_controller('map', { 'societe': nom, 'latitude': fiche.latitude, 'longitude': fiche.longitude, 'drop': drop ?? true}) }} >

</div>

