{% extends '@AcMarcheBottin/front/layout.html.twig' %}

{% block body -%}

    <div class="card">
        <div class="card-header">
            <h3>Géolocaliser {{ fiche }}</h3>
        </div>
        <div class="card-body">
            <i class="fas fa-map-marked-alt"></i>
            {% include '@AcMarcheBottin/admin/fiche/_adresse.html.twig' %}

            <div class="alert alert-info">
                Déplacer le curseur à l'endroit voulu pour obtenir la longitude et latitude.
                <br/>Ensuite sauvegarder les nouvelles coordonnées.
            </div>

            {% include('@AcMarcheBottin/admin/map/_localisation_form.html.twig') %}
            {% include '@AcMarcheBottin/admin/map/_openstreetmap.html.twig' with {'adresse': fiche} %}

        </div>
        <div class="card-footer">
            <a href="{{ bottin_url_fiche_show(fiche) }}" class="btn btn-secondary">
                <i class="ti ti-arrow-back mt-2"></i> Annuler
            </a>
        </div>
    </div>
{% endblock %}
