{% if fiche.images | length > 0 %}
    <div id="lightgallery" data-controller="gallery">
        {% for image in fiche.images %}
            <a href="{{ vich_uploader_asset(image, 'image') }}">
                <img class="img-thumbnail"
                     src="{{ vich_uploader_asset(image, 'image') | imagine_filter('acbottin_thumb') }}" alt="img"/>
            </a>
        {% endfor %}
    </div>
{% endif %}
