<a href="{{ path('bottin_backend_fiche_edit', { 'uuid': token.uuid }) }}" class="btn btn-primary"
   role="button"><i class="far fa-edit"></i> Mettre à jour</a>

<a href="{{ path('bottin_backend_classement_edit', { 'uuid': token.uuid }) }}" class="btn btn-primary" role="button">
    <i class="fas fa-th-list"></i> Catégories</a>

<a href="{{ path('bottin_backend_image_edit', { 'uuid': token.uuid }) }}" class="btn btn-primary" role="button">
    <i class="far fa-images"></i> Images</a>

<a href="{{ path('bottin_backend_contact', { 'uuid': token.uuid }) }}" class="btn btn-primary" role="button">
    <i class="far fa-paper-plane"></i> Nous contacter</a>

<br/>
<br/>
