{{ form_start(form) }}
{{ form_errors(form) }}

<button class="btn btn-primary mr-1 mb-2" type="submit"><i class="ti ti-device-floppy" aria-hidden="true"></i> Sauvegarder</button>

{% include '@AcMarcheBottin/admin/fiche/_tabs.html.twig' %}

<div class="tab-content">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        {% include '@AcMarcheBottin/admin/fiche/form/_activite.html.twig' %}
    </div>

    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="profile-tab">
        {% include '@AcMarcheBottin/admin/fiche/form/_contact.html.twig' %}
    </div>

    <div class="tab-pane fade" id="infos" role="tabpanel" aria-labelledby="profile-tab">
        {% include '@AcMarcheBottin/admin/fiche/form/_infos.html.twig' %}
    </div>

    <div class="tab-pane fade" id="horaires" role="tabpanel" aria-labelledby="profile-tab">
        {% if form.horaires is defined %}
            {% include '@AcMarcheBottin/admin/fiche/form/_horaires.html.twig' %}
        {% else %}
            <br/>
            <p class="text-warning">Les horaires s'ajoutent après</p>
        {% endif %}
    </div>

    <div class="tab-pane fade" id="sociaux" role="tabpanel" aria-labelledby="profile-tab">
        {% include '@AcMarcheBottin/admin/fiche/form/_sociaux.html.twig' %}
    </div>

    <div class="tab-pane fade" id="note" role="tabpanel" aria-labelledby="profile-tab">
        {% include '@AcMarcheBottin/admin/fiche/form/_note.html.twig' %}
    </div>
    <div class="tab-pane fade" id="contact_administratif" role="tabpanel" aria-labelledby="profile-tab">
        {% include '@AcMarcheBottin/admin/fiche/form/_contact_administratif.html.twig' %}
    </div>
</div>

{{ form_end(form) }}
