<h4 class="text-success">Médias</h4>
{% if fiche.images | length > 0 %}
    <table class='table table-bordered table-hover'>
        <tr>
            {% for image in fiche.images %}
            <td>
                <span class="badge text-bg-success">{{ image.mime }}</span><br/>
                <a href="{{ path('bottin_admin_image_show', { 'id': image.id }) }}">
                    {% if image.mime|u.containsAny('image') %}
                        <img class="img-thumbnail"
                             src="{{ vich_uploader_asset(image, 'image') | imagine_filter('acbottin_thumb') }}"
                             alt="img"/>
                    {% else %}
                        Consulter
                    {% endif %}
                </a>

                {% if image.principale %}
                    <i class="ti ti-check"></i>
                {% endif %}
            </td>
            {% if loop.index is divisible by(2) %}
        </tr>
        <tr>
            {% endif %}
            {% endfor %}
            {% if fiche.images | length is not divisible by(2) %}
                <td></td>
            {% endif %}
        </tr>
    </table>
{% else %}
    <p class="text-warning">Aucune image</p>
{% endif %}
