<!-- Nav tabs -->
<ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
    <li class="nav-item">
        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home"  type="button" role="tab"
                aria-controls="home"
                aria-selected="true">
            Activité sur Marche
        </button>
    </li>
    <li class="nav-item">
        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#contact"  type="button" role="tab"
                aria-controls="profile"
                aria-selected="false">
            Contact
        </button>
    </li>
    <li class="nav-item">
        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#infos"  type="button" role="tab"
                aria-controls="profile"
                aria-selected="false">
            Infos complémentaitres
        </button>
    </li>
    <li class="nav-item">
        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#horaires"  type="button" role="tab"
                aria-controls="profile"
                aria-selected="false">
            Horaires
        </button>
    </li>
    <li class="nav-item">
        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#sociaux"  type="button" role="tab"
                aria-controls="profile"
                aria-selected="false">
            Réseaux sociaux
        </button>
    </li>
    <li class="nav-item">
        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#note"  type="button" role="tab"
                aria-controls="profile"
                aria-selected="false">
            Note et pdv
        </button>
    </li>
    <li class="nav-item">
        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#contact_administratif"
                role="tab" type="button"
                aria-controls="profile"
                aria-selected="false">
            Contact administratif
        </button>
    </li>
</ul>
