<h4 class="text-success">Tag(s)</h4>
{% if fiche.tags|length > 0 %}
    <div class="my-2">
        {% for tag in fiche.tags %}
            <span class="btn btn-outline-success mx-2">
                        <a href="{{ path('bottin_admin_tag_show',{'id':tag.id}) }}">{{ tag }}</a>
                    </span>
        {% endfor %}
    </div>
{% endif %}