{% extends '@AcMarcheBottin/front/layout.html.twig' %}

{% block body -%}
    <div class="card">
        <div class="card-header">
            <h3>{{ fiche }}</h3>
        </div>
        <div class="card-body">
            {% include '@AcMarcheBottin/admin/fiche/_form.html.twig' %}
        </div>
        <div class="card-footer">
            <a href="{{ bottin_url_fiche_show(fiche) }}" class="btn btn-secondary">
                <i class="ti ti-arrow-back"></i> Annuler
            </a>
        </div>
    </div>

{% endblock %}
{% block scripts %}
    {{ include('@AcMarcheBottin/admin/fiche/_horaires.js.html.twig') }}
{% endblock %}
