{% extends '@AcMarcheBottin/front/layout.html.twig' %}

{% block body -%}

    <div class="card">
            <h3>Nouvelle fiche</h3>
        <div class="card-body">

        {% include '@AcMarcheBottin/admin/fiche/_form.html.twig' %}

        </div>
    </div>

{% endblock %}
