<div class="">
    <select name="category" size="5" class="form-select my-1 mr-sm-2 category-root"
            onchange="getCategories(this, {{ level }})">
        {% for category in categories %}
            <option value="{{ category.id }}">{{ category }}</option>
        {% endfor %}
    </select>
</div>
