<ul class="list-group">
    {% for category in categories %}
        <li class="list-group-item" role="option" data-autocomplete-value="{{ category.id }}" style="cursor: pointer;">
            {{ category.name }}
        </li>
    {% endfor %}
</ul>
