{% extends '@AcMarcheBottin/front/layout.html.twig' %}

{% block body -%}

<div class="card bg-lig2ht mb-3">
    <div class="card-header">
        <h3>Export</h3>
    </div>
    <div class="card-body">

        <div {{ stimulus_controller('category', { categoryId: 511, 'url':path('bottin_admin_ajax_get_categories_for_export')}) }} >

            <div class="d-flex gap-2">
                <ul>
                    {% for category in categories %}
                        <li class="list-group-item">
                            <button
                                    class="btn btn-primary"
                                    data-action="category#selectCategory"
                                    data-category-target="categories"
                                    data-category-id="{{ category.id }}"
                            >
                                {{ category }}
                            </button>
                        </li>
                    {% endfor %}
                </ul>
                <div class="search-preview2" data-category-target="result">zeze</div>
            </div>

            <input type="number" name="x" data-category-target="select">
        </div>
    </div>

    {% endblock %}
