<div class="card">
    <div class="card-body">
        Bonjour {{ fiche.societe }}<br/>
        <br/>
        Vous êtes actuellement répertorié sur l'annuaire de la ville de Marche-en-Famenne<br/>
        Afin de vous référencer correctement, nous avons décidé de procéder à une mise à jour de l'ensemble des données
        des commerces et entreprises.
        <br/><br/>
        Vous trouverez ci-joint les informations reprises actuellement au sujet de votre activité.
        <br/><br/>
        Rendez-vous sur la page :
        {% if fiche.token %}
            <br/><br/>
            <a href="{{ path('bottin_backend_fiche_show', {'uuid': fiche.token.uuid}) }}" target="_blank">
                {{ absolute_url(path('bottin_backend_fiche_show', {'uuid': fiche.token.uuid})) }}
            </a>
        {% endif %}
        <br/><br/>
        <div class="card-footer">
            {% include '@AcMarcheBottin/admin/pdf/footer/_footer_'~ fiche.root ~'.html.twig' %}
        </div>
    </div>
</div>
