{% extends '@AcMarcheBottin/backend/layout.html.twig' %}

{% block body -%}
    <div class="card">
        <div class="card-header">
            <h3>Gestion de votre fiche</h3>
        </div>
        <div class="card-body">
            Bienvenue, blabla
        </div>
    </div>

{% endblock %}
