<div id='openmap' style='width: 90%; height: 600px;' class="border border-primary">
</div>
<div {{ stimulus_controller('map', { 'societe': fiche.societe, 'latitude': fiche.latitude, 'longitude': fiche.longitude, 'drop': false}) }} >

</div>
