<div class="card">
    <div class="card-body">
        Bonjour {{ fiche.societe }},
        <br/><br/>
        Vous êtes actuellement répertorié dans l'annuaire économique <br/>de la <a href="https://www.marche.be">Ville de
            Marche-en-Famenne</a>,<br/> et sur le site de <a href="https://cap.marche.be/">Cap sur Marche</a>
        pour les commerces et entreprises.
        <br/><br/>
        Afin de vous référencer correctement,
        <a href="https://www.marche.be/administration?p=72">
            l'Agence de Développement Local</a>
        procède à une mise à jour de l'ensemble
        des données des commerces et entreprises.
        <br/><br/>
        Vous trouverez dans la fiche ci-jointe les informations reprises actuellement au sujet de votre activité.
        <br/><br/>
        Ces informations ne sont plus correctes, obsolètes ou incomplètes?<br/> Nous vous donnons la possibilité
        d'opérer vos
        changements directement en ligne en modifiant vous-même votre fiche.
        <br/><br/>
        {% if fiche.token %}
            Rendez-vous sur la page :
            <br/><br/>
            <a href="{{ absolute_url(path('bottin_backend_fiche_show', {'uuid': fiche.token.uuid})) }}" target="_blank">
                {{ absolute_url(path('bottin_backend_fiche_show', {'uuid': fiche.token.uuid})) }}
            </a>
        {% endif %}
        <br/><br/>
        Vous préférez nous renvoyer vos informations par mail ? Pas de problème !<br />
        Contactez l'ADL via l'adresse adl@marche.be
        <br/><br/>
        <a href="https://www.marche.be/administration/rgpd/bottin-rgpd-1502/">
            Pour rappel, ces coordonnées de contact ne seront en aucune façon communiquées à des tiers.
        </a>
        <br/><br/>
        Bien à vous,
        <div class="card-footer">
            {% include '@AcMarcheBottin/admin/pdf/footer/_footer_'~ fiche.root ~'.html.twig' %}
        </div>
    </div>
</div>
