{% extends '@AcMarcheBottin/front/layout.html.twig' %}

{% block body -%}

    <div class="card">
        <div class="card-header">
            <h3>Publipostage</h3>
            <span class="text-muted">({{ fiches|length }} fiches)</span>
        </div>
        <div class="card-body">
            <p>
                <a href="{{ path('bottin_admin_export_select') }}">Suivant la sélection que vous avez effectué</a> :
            </p>

            <ul class="list-group">
                <li class="list-group-item">
                    <a href="{{ path('bottin_admin_publipostage_mail') }}">Envoyer par mail</a>
                </li>
                <li class="list-group-item">
                    <a href="{{ path('bottin_admin_publipostage_paper') }}">Générer un pdf pour impression</a>
                </li>
            </ul>

        </div>
    </div>

{% endblock %}
