{% extends '@AcMarcheBottin/front/layout.html.twig' %}

{% block body -%}

    <div class="card">
        <div class="card-header">
            <h3>Publipostage papier</h3>
            <span class="text-muted">({{ fiches|length }} fiches)</span>
        </div>
        <div class="card-body">
           <p></p>
        </div>
        <div class="card-footer">
            <a href="{{ path('bottin_admin_publipostage_index') }}">Annuler</a>
        </div>
    </div>

{% endblock %}
