<span class="text-muted">

<a href='{{ path('bottin_front_category_index') }}'>Secteurs</a>
/
{% for path in paths %}
    {% if loop.last %}
        {{ path }}
    {% else %}
        <a href="{{ path('bottin_front_category_show', { 'slug': path.slug }) }}">{{ path }}</a> /
    {% endif %}
{% endfor %}
</span>
