{% extends '@AcMarcheBottin/front/layout.html.twig' %}

{% block body -%}

    <div class="card bg-lig2ht mb-3">
        <div class="card-header">
            <h3>Contactez-nous</h3>
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <tr>
                    <th>Pour les commerces et entreprises</th>
                    <td>
                        ADL - 084 32 70 78 - adl@marche.be
                    </td>
                </tr>
                <tr>
                    <th>Pour la santé</th>
                    <td>
                        Cellule communale Santé & Viasano - Tél : 084 32 69 94 - sante@marche.be
                    </td>
                </tr>
                <tr>
                    <th>Pour la culture</th>
                    <td>
                        Animation - Tél : 084 32 01 08 - animation@marche.be
                    </td>
                </tr>
                <tr>
                    <th>Pour le sport</th>
                    <td>
                        Centre Sportif Local - Tél : 084 32 00 90 - csl@marche.be
                    </td>
                </tr>
                <tr>
                    <th>Pour le social</th>
                    <td>
                        Plan de Cohésion Social - Tél : 084 32 70 71 - pcs@marche.be
                    </td>
                </tr>
                <tr>
                    <th>Pour l'administration</th>
                    <td>
                        Centre de Support Télématique - Tél : 084 32 70 54 - cst@marche.be
                    </td>
                </tr>
                <tr>
                    <th>Pour l'enfance et la jeunesse</th>
                    <td>
                        Coordination Education Enfance - Tél : 084 32 70 54 - atl@marche.be
                    </td>
                </tr>
            </table>
        </div>
    </div>

{% endblock %}
