{% extends '@AcMarcheBottin/front/layout.html.twig' %}

{% block body -%}

    <div class="card bg-lig2ht mb-3">
        <div class="card-header">
            <h3>Bottin marchois</h3>
        </div>
        <div class="card-body">
            <div class="row" data-masonry='{"percentPosition": true }'>
                {% for category in categories %}
                    <div class="col-sm-6 col-lg-4 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a href="{{ path('bottin_front_category_show', {'slug': category.slug}) }}">{{ category.name }}</a>
                                </h5>
                                <ul class="list-group list-group-flush">
                                    {% for child in category.childNodes %}
                                        <li class="list-group-item">
                                            <a href="{{ path('bottin_front_category_show', {'slug': category.slug}) }}">
                                                {{ child.name }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
