<div class="relative h-96 overflow-hidden rounded-xl border border-dashed border-gray-400 opacity-75 lg:h-full"
     x-show="cartoOpen">
    <div class="mx-auto px-4 py-8 sm:px-6 sm:py-2 lg:max-w-full lg:px-4">
        <div id='openmap' style='width: 100%; ' class="h-[100rem]"></div>
    </div>
</div>