<div class="min-w-screen flex min-h-screen items-center justify-center p-5">
  <div class="flex space-x-2">
    <span class="h-3 w-3 animate-pulse rounded-full bg-gray-400"></span>
    <span class="h-3 w-3 animate-pulse rounded-full bg-gray-400 [animation-delay:300ms]"></span>
    <span class="h-3 w-3 animate-pulse rounded-full bg-gray-400 [animation-delay:600ms]"></span>
  </div>
</div>
