<div class="relative overflow-hidden rounded-xl border border-dashed border-gray-400 opacity-75 h-full"
     x-show="cartoOpen">
    <div class="mx-auto px-0 py-2 sm:px-4 sm:py-2 max-w-full">
        <div id='openmap' style='width: 100%; ' class="h-[60rem] md:h-[100rem]"></div>
    </div>
</div>