{% extends '@AcMarcheBottin/base_tailwind.html.twig' %}
{% block stylesheets %}
    <script src="https://unpkg.com/htmx.org@1.9.10"
            integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
            crossorigin="anonymous"></script>
{% endblock %}
{% block body %}
    <div class="bg-white" id="content-result">
        <div x-data="{ menuOpen: false }" @keydown.window.escape="open = false">
            {% include '@AcMarcheBottin/tailwind/_filters_sm.html.twig' %}
            <main class="mx-auto max-w-2xl px-4 py-8 sm:px-6 sm:py-12 lg:max-w-full lg:px-8">
                <div class="border-b border-gray-200 pb-10">
                    <h1 class="lobster-two-bold
        mx-auto max-w-max
        bg-slate-400
        bg-gradient-to-r from-carto-pink via-carto-main to-carto-gray200
        bg-clip-text text-transparent
        bg-[length:250px_100%] bg-no-repeat
        px-10 py-1 text-center text-4xl font-bold
        animate-shimmer">
                        Du bio, du local, du solidaire...
                    </h1>
                    <h1 class="text-4xl font-bold lobster-two-bold tracking-tight text-carto-pink">Circuit-Court</h1>
                    <p class="mt-4 text-2xl text-carto-main lobster-two-regular-italic">
                        On qualifie généralement de circuit court ou circuit de commercialisation le circuit de
                        distribution
                        dans lequel
                        intervient au maximum un intermédiaire entre le producteur et le consommateur.
                    </p>
                </div>
                <div class="pt-12 grid grid-cols-1 lg:gap-x-8 lg:grid-cols-[auto_minmax(0,1fr)]"
                        {{ stimulus_controller('carto') }}>
                    <aside>
                        {% include '@AcMarcheBottin/tailwind/_filters_xl.html.twig' %}
                    </aside>
                    <div class="mt-6 lg:mt-0">
                        <h2 class="text-3xl text-carto-pink py-3 px-3" id="count-result">{{ count }} commerces
                            trouvés</h2>
                        <div x-show="listOpen">
                            {% include '@AcMarcheBottin/tailwind/_list.html.twig' %}
                        </div>
                        {% include '@AcMarcheBottin/tailwind/_carto.html.twig' %}
                    </div>
                </div>
            </main>
        </div>
    </div>
{% endblock %}