{% if fiche.images | length > 0 %}
    <table class="table table-bordered">
        {% for image in fiche.images %}
            <tr>
                <td>
                    {% if image.mime|u.containsAny('image') %}
                        <a href="{{ vich_uploader_asset(image, 'image') }}">
                            <img class="img-thumbnail"
                                 src="{{ vich_uploader_asset(image, 'image') | imagine_filter('acbottin_thumb') }}"
                                 alt="img"/>
                        </a>
                    {% else %}
                        <a href="{{ vich_uploader_asset(image, 'image') }}">
                            <i class="ti ti-device-floppy"></i>Télécharger
                        </a>
                    {% endif %}
                </td>
                <td>
                    <a
                            data-bs-toggle="modal"
                            data-bs-target="#exampleModal"
                            data-imageid="{{ image.id }}"
                            title="Supprimer cette image"
                            class="removeclassment text-center btn btn-sm btn-outline-danger"
                            style="cursor: pointer;">
                        <i class="ti ti-trash"></i> Supprimer
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endif %}
