{% extends '@AcMarcheBottin/front/layout.html.twig' %}

{% block body %}

    <div class="card">
        <div class="card-header">
            <h3>{{ fiches|length }} fiches sans classement</h3></div>
        <div class="card-body">
            <table class="table table-bordered">
                {% for fiche in fiches %}
                    <tr>
                        <td>
                            <a href="{{ path('bottin_admin_classement_new', {'id': fiche.id}) }}">{{ fiche }}</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}

