{% if is_granted('ROLE_BOTTIN_ADMIN') %}

    <a href="{{ path('bottin_admin_category_edit', { 'id': category.id }) }}" class="btn btn-primary"
       role="button"><i class="far fa-edit"></i> Modifier</a>

    <a href="{{ path('bottin_admin_category_new_children', { 'id': category.id }) }}"
       class="btn btn-primary" role="button"><i class="fas fa-plus"></i> Ajouter une sous catégorie</a>

    <a href="{{ path('bottin_admin_category_move', { 'id': category.id }) }}" class="btn btn-primary"
       role="button"><i class="fas fa-arrows-alt"></i> Déplacer</a>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <i class="fas fa-trash"></i> Supprimer
    </button>
    <br/>
{% endif %}
