{% extends '@AcMarcheBottin/front/layout.html.twig' %}

{% block body -%}

    <div class="card">
        <div class="card-header">
            <h3>{{ category }} </h3>
            {% include '@AcMarcheBottin/admin/category/_breadcrumb_light.html.twig' %}
            <span class="float-end text-muted">Slug: {{ category.slug }}</span>
            <span class="float-end text-muted">Id: {{ category.id }} / </span>
        </div>
        <div class="card-body">

            {% if category.description %}
                <p class="text-muted">{{ category.description|nl2br }}</p>
            {% endif %}

            {% include '@AcMarcheBottin/admin/category/_actions.html.twig' %}

            {% include '@AcMarcheBottin/admin/category/_children.html.twig' %}

            <br/>

            {% include '@AcMarcheBottin/admin/category/_fiches.html.twig' %}
        </div>
    </div>

    {% include '@AcMarcheBottin/admin/category/_delete_form.html.twig' %}

{% endblock %}
