{% set action = app.request.attributes.get("_route") %}

{% if is_granted('ROLE_BOTTIN_ADMIN') %}
    {% include '@AcMarcheBottin/admin/_menu_admin.html.twig' %}
{% else %}
    <li><a href="{{ path('bottin_secteur_index') }}" class="nav-link px-2 link-dark">Secteurs</a></li>
{% endif %}
