{% extends '@AcMarcheBottin/front/layout.html.twig' %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <h3>Liste des champs complémentaires</h3>
        </div>
        <div class="card-body">
            <a href="{{ path('bottin_admin_meta_field_new') }}" class="btn btn-primary" role="button"><i
                        class="fas fa-plus"></i> Ajouter</a>
            <br/><br/>

            <table class='table table-bordered table-hover'>
                <thead>
                <tr>
                    <th>Intitule</th>
                    <th>Fiches</th>
                </tr>
                </thead>
                <tbody>
                {% for meta in meta_fields %}
                    <tr>
                        <td>
                            <a href="{{ path('bottin_admin_meta_field_show', { 'id': meta.id }) }}">
                                {{ meta.name }}
                            </a>
                        </td>
                        <td></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
