<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm border-bottom">
    <div class="container">
        <a class="navbar-brand" href="{{ path('bottin_front_home') }}">
            <i class="ti ti-building-store icon-rose"></i>
            <span class="ms-2 fs-4 navbar-text">Bottin</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {% block menu %}
                {% include '@AcMarcheBottin/front/_menu.html.twig' %}
            {% endblock %}
        </div>
    </div>
</nav>
