<!DOCTYPE html>
<html lang="fr" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Bottin{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('bundles/acmarchebottin/favicon.ico') }}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css"/>
    <meta name="view-transition" content="same-origin"/>
    <script src="//unpkg.com/alpinejs" defer></script>

    {% block stylesheets %}

    {% endblock %}
    {% block javascripts %}
        {% block importmap %}{{ importmap('app_tailwind') }}{% endblock %}
    {% endblock %}
</head>
<body id="app" x-data="{cartoOpen: false, listOpen: true}">
<header class="relative z-20 bg-orange-500 h-16">
    <nav class="shadow h-16 text-white flex items-center gap-3 justify-between">
        <h1 class="text-3xl ml-3">Cartographie</h1>
        <div class="mx-auto flex flex-row gap-4">
            <button type="button" title="Carte" @click="cartoOpen = true; listOpen = false"><i
                        class="ti ti-map mr-2 text-2xl hover:text-pink-950"></i></button>
            <button type="button" title="Liste" @click="listOpen = true; cartoOpen = false"><i
                        class="ti ti-list text-2xl hover:text-pink-950"></i></button>
            <button type="button" title="Localisation" @click="listOpen = true; cartoOpen = false"><i
                        class="ti ti-current-location text-2xl hover:text-pink-950"></i></button>
        </div>
        <a href="https://www.marche.be" target="_blank" class="mr-12" title="Site de la Ville">Marche.be</a>
    </nav>
</header>
{% include '@AcMarcheBottin/front/_flash_messages.html.twig' %}
{% block body %}

{% endblock %}
<footer class="bg-white mt-24" aria-labelledby="footer-heading">
    <h2 id="footer-heading" class="sr-only">AcMarche</h2>
</footer>
</body>