<!DOCTYPE html>
<html lang="fr" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Bottin{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('bundles/acmarchebottin/favicon.ico') }}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css"/>
    <meta name="view-transition" content="same-origin"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap">
    <link href="https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <script src="//unpkg.com/alpinejs" defer></script>

    {% block stylesheets %}

    {% endblock %}
    {% block javascripts %}
        {% block importmap %}{{ importmap('app_tailwind') }}{% endblock %}
    {% endblock %}
</head>
<body id="app" x-data="{cartoOpen: true, listOpen: false}">
<header class="relative z-20 bg-carto-green h-16">
    <nav class="shadow h-16 text-white flex items-center gap-3 justify-between">
        <h1 class="text-3xl ml-3 lobster-two-bold">Cartographie</h1>
        <div class="mx-auto flex flex-row gap-4 roboto-medium">
            <button class="flex flex-col flex-wrap justify-center items-center hover:text-carto-pink" type="button"
                    title="Carte"
                    @click="cartoOpen = true; listOpen = false">
                <i class="ti ti-map mr-2 text-2xl"></i>
                <span class="">Carte</span>
            </button>
            <button class="flex flex-col flex-wrap justify-center items-center hover:text-carto-pink" type="button"
                    title="Liste" @click="listOpen = true; cartoOpen = false"><i
                        class="ti ti-list text-2xl hover:text-carto-main"></i>
                <span class="">
                Liste
            </span>
            </button>
            <button class="flex flex-col flex-wrap justify-center items-center hover:text-carto-pink" type="button"
                    title="Localisation" @click="listOpen = true; cartoOpen = false"><i
                        class="ti ti-current-location text-2xl hover:text-carto-gray300"></i>
                <span class="">
                Autour de moi
            </span>
            </button>
        </div>
        <a href="https://www.marche.be" target="_blank" class="mr-12 hover:text-carto-main flex flex-row gap-2"
           title="Site de la Ville">
            <img class="w-24 hover:opacity-70"
                 src="{{ asset('assets/bundles/acmarchebottin/images/Marche_logo_transparent_pt-5d79edb04794352da212d14a7495c8a7.png') }}">
        </a>
    </nav>
</header>
{% include '@AcMarcheBottin/front/_flash_messages.html.twig' %}
{% block body %}

{% endblock %}
<footer class="bg-white mt-24" aria-labelledby="footer-heading">
    <h2 id="footer-heading" class="sr-only">AcMarche</h2>
</footer>
</body>