{% if is_granted('ROLE_BOTTIN_ADMIN') %}
    <a href="{{ path('bottin_admin_situation_edit', { 'id': situation.id }) }}" class="btn btn-primary"
       role="button"><i class="ti ti-pencil"></i> Editer</a>

    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">
        <i class="ti ti-trash"></i> Supprimer la situation
    </button>
    <br/><br/>
{% endif %}
