{% extends '@AcMarcheBottin/front/layout.html.twig' %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <h3>Liste des localités</h3>
        </div>
        <div class="card-body">
            <a href="{{ path('bottin_admin_localite_new') }}" class="btn btn-primary" role="button"><i
                        class="ti ti-pencil-plus"></i> Ajouter</a>
            <br/><br/>

            <table class='table table-bordered table-hover'>
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Nombre de fiches</th>
                </tr>
                </thead>
                <tbody>
                {% for localite in localites %}
                    <tr>
                        <td>
                            <a href="{{ path('bottin_admin_localite_show', { 'id': localite.id }) }}">
                                {{ localite.nom }}
                            </a>
                        </td>
                        <td>
                            {{ localite.fiches|length }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
