{% extends '@AcMarcheBottin/front/layout.html.twig' %}

{% block body -%}
    <div class="card mb-3">
        <div class="card-header">
            <h3>{{ localite }}</h3>
        </div>
        <div class="card-body">
            <a href="{{ path('bottin_admin_localite_edit', { 'id': localite.id }) }}" class="btn btn-primary"
               role="button"><i class="far fa-edit"></i> Editer</a>
        </div>
    </div>
{% endblock %}
