   {% if is_granted('ROLE_BOTTIN_ADMIN') %}
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Supprimer</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Êtes vous sur de supprimer {{ adresse }} ?
                </div>
                <div class="modal-footer">
                    <form method="post" action="{{ path('bottin_admin_adresse_delete', {'id': adresse.id}) }}">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ adresse.id) }}">
                        <button type="button" class="btn btn-secondary"
                                data-bs-dismiss="modal">Annuler
                        </button>
                        <button type="submit" class="btn btn-danger">Supprimer l' adresse</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endif %}
