{% extends '@AcMarcheBottin/front/layout.html.twig' %}

{% block body -%}

    <div class="card">
        <div class="card-header">
            <h3>Nouvelle adresse</h3>
        </div>
        <div class="card-body">
            {% include '@AcMarcheBottin/admin/adresse/_form.html.twig' %}
        </div>
        <div class="card-footer">
            <a href="{{ path('bottin_admin_adresse') }}">
                <i class="fas fa-long-arrow-alt-left"></i> Annuler
            </a>
        </div>
    </div>

{% endblock %}
