<table class='table table-bordered table-hover'>
    <tr>
        <th><i class="ti ti-clipboard"></i> Note</th>
        <td>{{ fiche.note }}</td>
    </tr>
    <tr>
        <th><i class="ti ti-building-store"></i> Point de vente</th>
        <td>{{ fiche.pdv }}</td>
    </tr>
</table>
