<tr>
    <td>
        <a href="{{ path('bottin_fiche_show', { 'id': category.id }) }}"
           title="Détail de la fiche">
            {{ category.name }}
        </a>
    </td>
    <td>

    </td>
    <td>
        {{ hit._score }}
    </td>
    <td>

    </td>
    <td>

    </td>
    <td>

    </td>
    <td>

    </td>
    <td>
        {{ hit._score }}
    </td>
</tr>
