{% extends '@AcMarcheBottin/front/layout.html.twig' %}

{% block body -%}
    <div class="card">
        <h3 class="card-header">{{ demande }}</h3>

        <div class="card-body">

            {{ form(form) }}
        </div>
        <div class="card-footer">
            <a href="{{ path('bottin_admin_pdv') }}">
                <i class="ti ti-arrow-back"></i> Annuler et retour à la liste
            </a>
        </div>
    </div>
{% endblock %}
