{# extends '@email/default/notification/body.html.twig' #}
{% extends '@AcMarcheBottin/mail/publipostage.html.twig' %}
{% block lead %}
    <p class="lead">
        {{ email.subject }}
    </p>
{% endblock %}

{% block content %}

    {% if body %}
        {{ body|nl2br }}
    {% endif %}
    {% include '@AcMarcheBottin/admin/publipostage/_lettre_mail.html.twig' %}

{% endblock %}