{% extends '@email/default/notification/body.html.twig' %}
{% block lead %}
    <p class="lead">
        {{ subject }}
    </p>
{% endblock %}

{% block content %}

    De: {{ nom }}
<br /><br />
    Message: {{ content|nl2br }}

{% endblock %}

