{% extends '@email/default/notification/body.html.twig' %}
{% block lead %}
    <p class="lead">
        {{ email.subject }}
    </p>
{% endblock %}

{% block content %}
    Pour la fiche {{ fiche.societe }}
    <br/><br/>
    Vous pouvez aller valider sur
    <br/><br/>
    {{ absolute_url(path('bottin_admin_demande')) }}

{% endblock %}
